openapi: 3.0.3
info:
  title: W3S
  description: All W3S APIs
  version: '1.0'
servers:
  - url: https://api.circle.com/v1/w3s
security:
  - BearerAuth: []
tags:
  - name: Monitor Tokens
  - name: Developer Account
  - name: Wallet Sets
  - name: Wallets
  - name: Transactions
  - name: Token Lookup
  - name: Signing
  - name: Users and Pins
  - name: Deploy / Import
  - name: Interact
  - name: View / Update
  - name: Templates
paths:
  /config/entity/monitoredTokens:
    post:
      tags:
        - Monitor Tokens
      summary: Set monitored tokens
      description: Add a new token to the monitored token list.
      operationId: createMonitoredTokens
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostMonitoredTokensRequest'
        description: Request body
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/PostMonitoredTokensResponse'
          description: Success and no update happened
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        '201':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/PostMonitoredTokensResponse'
          description: Success and updated
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Default'
    get:
      tags:
        - Monitor Tokens
      summary: Retreive existing monitored tokens.
      description: Get monitored tokens
      operationId: listMonitoredTokens
      parameters:
        - $ref: '#/components/parameters/Blockchain'
        - name: tokenAddress
          in: query
          schema:
            type: string
        - name: symbol
          in: query
          schema:
            type: string
        - $ref: '#/components/parameters/parameters_From'
        - $ref: '#/components/parameters/parameters_To'
        - $ref: '#/components/parameters/parameters_PageBefore'
        - $ref: '#/components/parameters/parameters_PageAfter'
        - $ref: '#/components/parameters/parameters_PageSize'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: object
                    properties:
                      status:
                        $ref: '#/components/schemas/Status'
                      data:
                        $ref: '#/components/schemas/GetMonitoredTokensResponse'
          description: OK
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Default'
    put:
      tags:
        - Monitor Tokens
      summary: Update monitored tokens
      description: Edit the monitored token list.
      operationId: updateMonitoredTokens
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutMonitoredTokensRequest'
        description: Request body
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/PutMonitoredTokensResponse'
          description: Success response
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Default'
  /config/entity/monitoredTokens/scope:
    put:
      tags:
        - Monitor Tokens
      summary: Update monitored tokens scope
      description: Select between monitoring all tokens or selected tokens added to the monitored tokens list.
      operationId: updateMonitoredTokensScope
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutMonitoredTokensScopeRequest'
        description: Request body
        required: true
      responses:
        '200':
          content: {}
          description: Success response
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Default'
  /config/entity/monitoredTokens/delete:
    post:
      tags:
        - Monitor Tokens
      summary: Delete monitored tokens
      description: Delete tokens from the monitored token list.
      operationId: deleteMonitoredTokens
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteMonitoredTokensRequest'
        description: Request body
        required: true
      responses:
        '200':
          content: {}
          description: Success response
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Default'
  /config/entity/publicKey:
    get:
      tags:
        - Developer Account
      summary: Get public key for entity
      description: Get the public key associated with the entity.
      operationId: getPublicKey
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/GetPublicKeyResponse'
          description: Success
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Default'
  /config/entity:
    get:
      tags:
        - Developer Account
      summary: Get configuration for entity
      description: Get the app ID associated to the entity.
      operationId: getEntityConfig
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/GetEntityConfigResponse'
          description: Success
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Default'
  /developer/walletSets:
    post:
      tags:
        - Wallet Sets
      summary: Create a new wallet set
      description: Generate a developer controlled wallet set.
      operationId: createWalletSet
      requestBody:
        required: true
        description: WalletSet creation request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDeveloperWalletSetRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CreateDeveloperWalletSetResponse'
          description: WalletSet already exists
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDeveloperWalletSetResponse'
          description: WalletSet created
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Default'
  /developer/walletSets/{id}:
    put:
      tags:
        - Wallet Sets
      summary: Update a wallet set
      description: Update the wallet set associated with the given wallet set ID.
      operationId: updateWalletSet
      parameters:
        - $ref: '#/components/parameters/WalletSetIdPath'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWalletSetMetadataRequest'
        description: Update walletSet metadata request
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UpdateWalletSetMetadataResponse'
          description: WalletSet metadata updated
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Default'
  /walletSets:
    get:
      tags:
        - Wallet Sets
      summary: List wallet sets
      description: Retreive a list of all wallet sets.
      operationId: listWalletSets
      parameters:
        - $ref: '#/components/parameters/parameters_From'
        - $ref: '#/components/parameters/parameters_To'
        - $ref: '#/components/parameters/parameters_PageBefore'
        - $ref: '#/components/parameters/parameters_PageAfter'
        - $ref: '#/components/parameters/parameters_PageSize'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/GetWalletSetsResponse'
          description: WalletSets found
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            Link:
              description: 'Pagination cursor information, it can have four links depending on the page: self, first, next and prev. format: <https://api.circle.com/w3s/walletSets?to=2020-06-02T12:01:00Z&pageSize=50>; rel=\"next\'
              schema:
                type: string
        default:
          $ref: '#/components/responses/Default'
  /walletSets/{id}:
    get:
      tags:
        - Wallet Sets
      summary: Get a wallet set
      description: Retreive info for a single wallet set.
      operationId: getWalletSet
      parameters:
        - $ref: '#/components/parameters/WalletSetIdPath'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/GetWalletSetByIDResponse'
          description: WalletSet found
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Default'
  /developer/wallets:
    post:
      tags:
        - Wallets
      summary: Create wallets
      description: Generates a new developer-controlled wallet or batch of wallets within a wallet set, specifying blockchain and wallet name.
      operationId: createDeveloperWallet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDeveloperWalletRequest'
        description: Wallets creation request
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CreateDeveloperWalletResponse'
          description: Wallets created
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Default'
  /wallets:
    get:
      tags:
        - Wallets
      summary: List wallets
      description: Retrieves a list of all developer-controlled wallets that fit the specified parameters.
      operationId: listWallets
      parameters:
        - $ref: '#/components/parameters/XUserToken'
        - $ref: '#/components/parameters/Address'
        - $ref: '#/components/parameters/Blockchain'
        - $ref: '#/components/parameters/WalletSetIdQuery'
        - $ref: '#/components/parameters/parameters_From'
        - $ref: '#/components/parameters/parameters_To'
        - $ref: '#/components/parameters/parameters_PageBefore'
        - $ref: '#/components/parameters/parameters_PageAfter'
        - $ref: '#/components/parameters/parameters_PageSize'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ExtGetAllWalletsResponse'
          description: Wallets found
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            Link:
              description: 'Pagination cursor information, it can have four links depending on the page: self, first, next and prev. format: <https://api.circle.com/w3s/wallets?to=2020-06-02T12:01:00Z&pageSize=50>; rel=\"next\'
              schema:
                type: string
        default:
          $ref: '#/components/responses/Default'
  /wallets/{id}:
    get:
      tags:
        - Wallets
      summary: Get a wallet
      description: Retrieves info for a single developer-controlled wallet using it's unique identifier.
      operationId: getWallet
      parameters:
        - name: id
          description: Wallet ID
          in: path
          required: true
          schema:
            format: uuid
            type: string
        - $ref: '#/components/parameters/XUserToken'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ExtGetWalletByIDResponse'
          description: Wallet found
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Default'
    put:
      tags:
        - Wallets
      summary: Update a wallet
      description: Updates info for a single developer-controlled wallet using it's unique identifier.
      operationId: updateWallet
      parameters:
        - name: id
          description: Wallet ID
          in: path
          required: true
          schema:
            format: uuid
            type: string
        - $ref: '#/components/parameters/XUserToken'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExtUpdateWalletMetadataRequest'
        description: Wallet metadata update request
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ExtWalletResponse'
          description: Wallet metadata updated
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Default'
  /wallets/{id}/balances:
    get:
      tags:
        - Wallets
      summary: Get token balance for a wallet
      description: Fetches the digital asset balance for a single developer-controlled wallet using its unique identifier.
      operationId: listWalletBallance
      parameters:
        - description: Wallet ID
          in: path
          name: id
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/XUserToken'
        - $ref: '#/components/parameters/IncludeAll'
        - $ref: '#/components/parameters/Name'
        - $ref: '#/components/parameters/TokenAddress'
        - $ref: '#/components/parameters/Standard'
        - $ref: '#/components/parameters/parameters_From'
        - $ref: '#/components/parameters/parameters_To'
        - $ref: '#/components/parameters/parameters_PageBefore'
        - $ref: '#/components/parameters/parameters_PageAfter'
        - $ref: '#/components/parameters/parameters_PageSize'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/GetBalancesResponse'
          description: Success
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Default'
  /wallets/{id}/nfts:
    get:
      tags:
        - Wallets
      summary: Get NFTs for a wallet
      description: Fetches the info for all NFTs stored in a single developer-controlled wallet, using the wallets unique identifier.
      operationId: listWalletNfts
      parameters:
        - description: Wallet ID
          in: path
          name: id
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/XUserToken'
        - $ref: '#/components/parameters/IncludeAll'
        - $ref: '#/components/parameters/Name'
        - $ref: '#/components/parameters/TokenAddress'
        - $ref: '#/components/parameters/Standard'
        - $ref: '#/components/parameters/parameters_From'
        - $ref: '#/components/parameters/parameters_To'
        - $ref: '#/components/parameters/parameters_PageBefore'
        - $ref: '#/components/parameters/parameters_PageAfter'
        - $ref: '#/components/parameters/parameters_PageSize'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/GetNftsResponse'
          description: Success
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Default'
  /developer/transactions/transfer:
    post:
      tags:
        - Transactions
      summary: Create a transfer transaction
      description: Initiates an on-chain digital asset transfer from a specified developer-controlled wallet.
      operationId: createDeveloperTransactionTransfer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTransferTransactionForDeveloperRequest'
        description: Create transaction for developer request
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CreateTransferTransactionForDeveloperResponse'
          description: OK
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Default'
  /developer/transactions/{id}/accelerate:
    post:
      tags:
        - Transactions
      summary: Accelerate a transaction
      description: Accelerates a specified on-chain digital asset transfer from a developer-controlled wallet. Additional gas fees may be incurred.
      operationId: createDeveloperTransactionAccelerate
      parameters:
        - name: id
          description: Transaction ID
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccelerateTransactionForDeveloperRequest'
        description: Accelerate transaction for developer request
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AccelerateTransactionForDeveloperResponse'
          description: Transaction accelerated
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Default'
  /developer/transactions/{id}/cancel:
    post:
      tags:
        - Transactions
      summary: Cancel a transaction
      description: Cancels a specified on-chain digital asset transfer from a developer-controlled wallet. Gas fees may still be incurred.
      operationId: createDeveloperTransactionCancel
      parameters:
        - name: id
          description: Transaction ID
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        description: Cancel transaction for developer request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelTransactionForDeveloperRequest'
      responses:
        '200':
          description: Transaction canceled
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CancelTransactionForDeveloperResponse'
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Default'
  /developer/transactions/contractExecution:
    post:
      tags:
        - Transactions
      summary: Create a contract execution transaction
      description: Creates a transaction which executes a smart contract. ABI parameters must be passed in the request.
      operationId: createDeveloperTransactionContractExecution
      requestBody:
        required: true
        description: Create transaction for developer request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContractExecutionTransactionForDeveloperRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CreateContractExecutionTransactionForDeveloperResponse'
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Default'
  /transactions:
    get:
      tags:
        - Transactions
      summary: List transactions
      description: Lists all transactions. Includes details such as status, source/destination, and transaction hash.
      operationId: listTransactions
      parameters:
        - $ref: '#/components/parameters/XUserToken'
        - $ref: '#/components/parameters/Blockchain'
        - $ref: '#/components/parameters/CustodyType'
        - $ref: '#/components/parameters/DestinationAddress'
        - $ref: '#/components/parameters/IncludeAll'
        - $ref: '#/components/parameters/Operation'
        - $ref: '#/components/parameters/State'
        - $ref: '#/components/parameters/TxHash'
        - $ref: '#/components/parameters/TxType'
        - $ref: '#/components/parameters/WalletIds'
        - $ref: '#/components/parameters/parameters_From'
        - $ref: '#/components/parameters/parameters_To'
        - $ref: '#/components/parameters/parameters_PageBefore'
        - $ref: '#/components/parameters/parameters_PageAfter'
        - $ref: '#/components/parameters/parameters_PageSize'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/GetTransactionsResponse'
          description: Transactions retrieved
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            Link:
              description: 'Pagination cursor information. format: <https://api.circle.com/v1/developer/walletSets?to=2020-06-02T12:01:00Z&pageSize=50>; rel=\"next\'
              schema:
                type: string
        default:
          $ref: '#/components/responses/Default'
  /transactions/{id}:
    get:
      tags:
        - Transactions
      summary: Get a transaction
      description: Retrieves info for a single transaction using it's unique identifier.
      operationId: getTransaction
      parameters:
        - name: id
          description: Transaction id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/XUserToken'
        - $ref: '#/components/parameters/TxType'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/GetTransactionByIDResponse'
          description: Transaction retrieved
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Default'
  /transactions/transfer/estimateFee:
    post:
      tags:
        - Transactions
      summary: Estimate fee for a transfer transaction
      description: Estimates gas fees that will be incurred for a transfer transaction; given its amount, blockchain, and token.
      operationId: createTransferEstimateFee
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EstimateTransferTransactionFeeRequest'
        description: Estimate transaction fee request
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/EstimateTransactionFeeResponse'
          description: Transaction fee estimated
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Default'
  /transactions/contractExecution/estimateFee:
    post:
      tags:
        - Transactions
      summary: Estimate fee for a contract execution transaction
      description: Estimates gas fees that will be incurred for a contract execution transaction, given its ABI parameters and blockchain.
      operationId: createTransactionEstimateFee
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EstimateContractExecutionTransactionFeeRequest'
        description: Estimate transaction fee request
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/EstimateTransactionFeeResponse'
          description: Transaction fee estimated
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Default'
  /transactions/validateAddress:
    post:
      tags:
        - Transactions
      summary: Validate an address
      description: Confirms that a specified address is valid for a given token on a certain blockchain.
      operationId: createValidateAddress
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateAddressRequest'
        description: Validate address request
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ValidateAddressResponse'
          description: Address validated
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Default'
  /developer/sign/message:
    post:
      tags:
        - Signing
      summary: Sign message
      description: 'Sign the EIP-191 message from a specified developer-controlled wallet. Please note that not all the Dapps currently support Smart Contract Account (SCA), the difference between EOA and SCA can be found in the [account types guide](https://developers.circle.com/w3s/docs/programmable-wallets-account-types), and you can check the list of Dapps that support SCA: https://eip1271.io/.'
      operationId: signDeveloperMessage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignMessageForDeveloperRequest'
        description: Sign message for developer request
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/SignMessageForDeveloperResponse'
          description: OK
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Default'
  /developer/sign/typedData:
    post:
      tags:
        - Signing
      summary: Sign typed data
      description: 'Sign the EIP-712 typed structured data from a specified developer-controlled wallet. Please note that not all the Dapps currently support Smart Contract Account (SCA), the difference between EOA and SCA can be found in the [account types guide](https://developers.circle.com/w3s/docs/programmable-wallets-account-types), and you can check the list of Dapps that support SCA: https://eip1271.io/.'
      operationId: signDeveloperTypedData
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignTypedDataForDeveloperRequest'
        description: Sign message for developer request
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/SignTypedDataForDeveloperResponse'
          description: OK
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Default'
  /tokens/{id}:
    get:
      tags:
        - Token Lookup
      summary: Get token details
      description: Fetches details of a specific token given its unique identifier. Every token in your network of wallets has a UUID associated with it, regardless of whether it's already recognized or was added as a monitored token.
      operationId: getTokenId
      parameters:
        - name: id
          description: Token ID
          in: path
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/GetTokenByIDResponse'
          description: Token found
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Default'
  /users:
    post:
      tags:
        - Users and Pins
      summary: Create a user
      description: Create a user.
      operationId: createUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
        description: Request body
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: Success response
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Default'
    get:
      tags:
        - Users and Pins
      summary: List users
      description: Get all the users under the entity, sorted by the create date DESC order.
      operationId: listUsers
      parameters:
        - $ref: '#/components/parameters/PinStatus'
        - $ref: '#/components/parameters/SecurityQuestionStatus'
        - $ref: '#/components/parameters/parameters_From'
        - $ref: '#/components/parameters/parameters_To'
        - $ref: '#/components/parameters/parameters_PageBefore'
        - $ref: '#/components/parameters/parameters_PageAfter'
        - $ref: '#/components/parameters/parameters_PageSize'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ExtGetAllEndUsersResponse'
          description: Users retrieved
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            Link:
              description: 'Pagination cursor information, it can have four links depending on the page: self, first, next and prev. format: <https://api.circle.com/w3s/users?to=2020-06-02T12:01:00Z&pageSize=50>; rel=\"next\'
              schema:
                type: string
        default:
          $ref: '#/components/responses/Default'
  /users/{id}:
    get:
      summary: Get a user
      tags:
        - Users and Pins
      description: Get user by ID.
      operationId: getUser
      parameters:
        - name: id
          description: User ID
          in: path
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/GetEndUserByIDResponse'
          description: Success response
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Default'
  /users/token:
    post:
      tags:
        - Users and Pins
      summary: Create a user token
      description: Generate user session and SDK secret key.
      operationId: getUserToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateUserTokenRequest'
        description: Request body
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/GenerateUserTokenResponse'
          description: Success response
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Default'
  /user:
    get:
      tags:
        - Users and Pins
      summary: Get user status
      description: Get user's PIN and Security Question statuses.
      operationId: getUserByToken
      parameters:
        - $ref: '#/components/parameters/XUserTokenRequired'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/EndUser'
          description: Success response
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Default'
  /user/initialize:
    post:
      tags:
        - Users and Pins
      summary: Create a challenge for PIN setup and create wallet(s)
      description: Create a challenge for PIN setup and create wallet(s)
      operationId: createUserWithPinChallenge
      parameters:
        - $ref: '#/components/parameters/XUserTokenRequired'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetPinAndInitWalletRequest'
        description: Request body
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/SetPinResponse'
          description: Success response
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Default'
  /user/challenges:
    get:
      tags:
        - Users and Pins
      summary: List challenges
      description: List all challenges by status for a user.
      operationId: listUserChallenges
      parameters:
        - $ref: '#/components/parameters/XUserTokenRequired'
        - $ref: '#/components/parameters/Status'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/GetEndUserChallengesResponse'
          description: Success response
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Default'
  /user/challenges/{id}:
    get:
      tags:
        - Users and Pins
      summary: Get a challenge
      description: Get the status of a challenge.
      operationId: getUserChallenge
      parameters:
        - $ref: '#/components/parameters/XUserTokenRequired'
        - name: id
          description: ExtChallenge id to query
          in: path
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/GetEndUserChallengeByIDResponse'
          description: Success response
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Default'
  /user/pin:
    post:
      tags:
        - Users and Pins
      summary: Create a challenge for PIN setup
      description: Create a challenge for PIN setup without setting up wallets.
      operationId: createUserPinChallenge
      parameters:
        - $ref: '#/components/parameters/XUserTokenRequired'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetPinRequest'
        description: Request body
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/SetPinResponse'
          description: Success response
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Default'
    put:
      tags:
        - Users and Pins
      summary: Create a challenge to update PIN
      description: Create a challenge to update a user's PIN via existing PIN.
      operationId: updateUserPinChallenge
      parameters:
        - $ref: '#/components/parameters/XUserTokenRequired'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePinRequest'
        description: Request body
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ChangePinResponse'
          description: Success response
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Default'
  /user/pin/restore:
    post:
      tags:
        - Users and Pins
      summary: Create a challenge for PIN restore
      description: Create a challenge to change a user's PIN via Security Questions.
      operationId: createUserPinRestoreChallenge
      parameters:
        - $ref: '#/components/parameters/XUserTokenRequired'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestorePinRequest'
        description: Request body
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/RestorePinResponse'
          description: Success response
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Default'
  /user/wallets:
    post:
      tags:
        - Wallets
      summary: Create wallets
      description: Generates a challenge for creating a new user-controlled wallet or batch of wallets, specifying blockchain and wallet name.
      operationId: createUserWallet
      parameters:
        - $ref: '#/components/parameters/XUserTokenRequired'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEndUserWalletRequest'
        description: walletResponse creation request
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CreateEndUserWalletResponse'
          description: walletResponse already exists
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Default'
  /user/transactions/transfer:
    post:
      tags:
        - Transactions
      summary: Create a challenge for a transfer
      description: Generates a challenge for initiating an on-chain digital asset transfer from a specified user-controlled wallet
      operationId: createUserTransactionTransferChallenge
      parameters:
        - $ref: '#/components/parameters/XUserTokenRequired'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTransferTransactionForEndUserRequest'
        description: Create transaction for end user request
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CreateTransferTransactionForEndUserResponse'
          description: OK
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Default'
  /user/transactions/{id}/accelerate:
    post:
      tags:
        - Transactions
      summary: Create a Challenge to accelerate a transaction
      description: Generates a challenge for accelerating a specified on-chain digital asset transfer from a user-controlled wallet. Additional gas fees may be incurred.
      operationId: createUserTransactionAccelerateChallenge
      parameters:
        - name: id
          description: Transaction ID
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/XUserTokenRequired'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccelerateTransactionForEndUserRequest'
        description: Accelerate transaction for end user request
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AccelerateTransactionForEndUserResponse'
          description: Transaction accelerated
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Default'
  /user/transactions/{id}/cancel:
    post:
      tags:
        - Transactions
      summary: Create a challenge to cancel a transaction
      description: Generates a challenge for cancelling a specified on-chain digital asset transfer from a user-controlled wallet. Gas fees may still be incurred.
      operationId: createUserTransactionCancelChallenge
      parameters:
        - name: id
          description: Transaction ID
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/XUserTokenRequired'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelTransactionForEndUserRequest'
        description: Cancel transaction for end user request
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CancelTransactionForEndUserResponse'
          description: Transaction cancelled
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Default'
  /user/transactions/contractExecution:
    post:
      tags:
        - Transactions
      summary: Create a challenge for contract execution
      description: Generates a challenge for creating a transaction which executes a smart contract. ABI parameters must be passed in the request.
      operationId: createUserTransactionContractExecutionChallenge
      parameters:
        - $ref: '#/components/parameters/XUserTokenRequired'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractExecutionTxnPinCodeRequest'
        description: Create transaction for end user request
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CreateContractExecutionTransactionForEndUserResponse'
          description: OK
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Default'
  /user/sign/message:
    post:
      tags:
        - Signing
      summary: Create a challenge to sign message
      description: 'Generates a challenge for signing the EIP-191 message from a specified user-controlled wallet. Please note that not all the Dapps currently support Smart Contract Account (SCA), the difference between EOA and SCA can be found in the [account types guide](https://developers.circle.com/w3s/docs/programmable-wallets-account-types), and you can check the list of Dapps that support SCA: https://eip1271.io/.'
      operationId: signUserMessage
      parameters:
        - $ref: '#/components/parameters/XUserTokenRequired'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignMessageForEndUserRequest'
        description: Sign message for end user request
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/SignMessageForEndUserResponse'
          description: Signature already exists
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignMessageForEndUserResponse'
          description: Signature created
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Default'
  /user/sign/typedData:
    post:
      tags:
        - Signing
      summary: Create a challenge to sign typed data
      description: 'Generates a challenge for signing the EIP-712 typed structured data from a specified user-controlled wallet. Please note that not all the Dapps currently support Smart Contract Account (SCA), the difference between EOA and SCA can be found in the [account types guide](https://developers.circle.com/w3s/docs/programmable-wallets-account-types), and you can check the list of Dapps that support SCA: https://eip1271.io/.'
      operationId: signUserTypedData
      parameters:
        - $ref: '#/components/parameters/XUserTokenRequired'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignTypedDataForEndUserRequest'
        description: Sign typed data for end user request
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/SignTypedDataForEndUserResponse'
          description: Signature already exists
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignTypedDataForEndUserResponse'
          description: Signature created
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          $ref: '#/components/responses/Default'
  /contracts/import:
    post:
      tags:
        - Deploy / Import
      summary: Import a contract
      description: Add an existing smart contract to your library of contracts. It also can be done in the Web3 Services Console.
      operationId: importContract
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/scp-schemas_ImportContractRequest'
        description: Import contract request
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/scp-schemas_ContractResponse'
          description: Idempotent request. Contract already imported
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        '201':
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/scp-schemas_ContractResponse'
          description: Contract imported
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
  /contracts/deploy:
    post:
      tags:
        - Deploy / Import
      summary: Deploy a contract
      description: Deploy a smart contract on a specified blockchain using the contract's ABI and bytecode. The deployment will originate from one of your Circle Programmable Wallets.
      operationId: deployContract
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/scp-schemas_ContractDeploymentRequest'
            examples:
              Wallet ID:
                value:
                  idempotencyKey: a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11
                  name: First Contract
                  description: My first hello world contract
                  walletId: 004735f6-d9fc-44f8-933c-672cdf3d240d
                  abiJson: "[\n\t{\n\t\t\"inputs\": [],\n\t\t\"stateMutability\": \"nonpayable\",\n\t\t\"type\": \"constructor\"\n\t},\n\t..."
                  bytecode: 0x60806040523480156200001157600080fd5b50604051806040...
                  constructorParameters:
                    - TICK
                    - 10000
                  feeLevel: MEDIUM
                  entitySecretCiphertext: 0NtD3d3+nmgb4GqYQXzAjKF8h5Zq6sHM2k/7UQz5OIXWnU7H8O9XvVYXqDnw1wEmY...
        description: Deploy contract request
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/scp-schemas_ContractDeploymentResponse'
          description: Idempotent request. Contract deployment request already submitted
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        '201':
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/scp-schemas_ContractDeploymentResponse'
          description: 'New contract deployed '
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
  /contracts/deploy/estimateFee:
    post:
      tags:
        - Deploy / Import
      summary: Estimate a contract deployment
      description: Estimate the network fee for deploying a smart contract on a specified blockchain, given the contract bytecode.
      operationId: estimateContractDeploy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/scp-schemas_ContractDeploymentEstimateFeeRequest'
            examples:
              Wallet ID:
                value:
                  walletId: 004735f6-d9fc-44f8-933c-672cdf3d240d
                  bytecode: 0x60806040523480156200001157600080fd5b50604051806040...
                  constructorSignature: constructor(string, uint256)
                  constructorParameters:
                    - TICK
                    - 10000
              Source Address:
                value:
                  sourceAddress: '0x1bf9ad0cc2ad298c69a2995aa806ee832788218c'
                  blockchain: MATIC-MUMBAI
                  bytecode: 0x60806040523480156200001157600080fd5b50604051806040...
                  constructorSignature: constructor(string ticker, uint256 totalSupply)
                  constructorParameters:
                    - TICK
                    - 10000
        description: Estimate a transaction fee for deploying a smart contract
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/scp-schemas_ContractDeploymentEstimateFeeResponse'
          description: OK
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
  /contracts/{id}/read:
    post:
      tags:
        - Interact
      summary: Execute a read function on a contract
      description: Read the state of a contract you've imported or deployed by providing the ABI function and applicable parameters.
      operationId: readContract
      parameters:
        - description: Contract id
          in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/scp-schemas_ReadContractStateRequest'
        description: Read contract state by executing a read ABI function.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/scp-schemas_ReadContractStateResponse'
          description: OK
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
  /contracts:
    get:
      tags:
        - View / Update
      summary: List contracts
      description: Fetch a list of contracts that you've imported and/or deployed.
      operationId: listContracts
      parameters:
        - name: blockchain
          description: Filter by blockchain.
          in: query
          schema:
            type: string
            enum:
              - ETH
              - ETH-GOERLI
              - MATIC
              - MATIC-MUMBAI
        - name: contractInputType
          description: Filter contracts by input type.
          in: query
          schema:
            type: string
            enum:
              - IMPORT
              - BYTECODE
        - name: deployerAddress
          description: Filter contracts by deployer address.
          in: query
          schema:
            type: string
        - name: name
          description: Filter contracts by name.
          in: query
          schema:
            type: string
        - name: status
          description: Filter contracts by status.
          in: query
          schema:
            type: string
            enum:
              - PENDING
              - FAILED
              - COMPLETE
        - $ref: '#/components/parameters/parameters_From'
        - $ref: '#/components/parameters/parameters_To'
        - $ref: '#/components/parameters/parameters_PageBefore'
        - $ref: '#/components/parameters/parameters_PageAfter'
        - $ref: '#/components/parameters/parameters_PageSize'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/scp-schemas_ContractsResponse'
          description: Contract list retrieved
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            Link:
              description: 'Pagination cursor information. format: <https://api.circle.com/v1/contracts?to=2020-06-02T12:01:00Z&pageSize=50>; rel=\"next\'
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
  /contracts/{id}:
    get:
      tags:
        - View / Update
      summary: Get a contract
      description: Get a single contract that you've imported or deployed. Retrieved using the contracts ID as opposed to the on-chain address.
      operationId: getContract
      parameters:
        - description: Contract id
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/scp-schemas_ContractResponse'
          description: Contract retrieved
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
    patch:
      tags:
        - View / Update
      summary: Update a contract
      description: Update the off-chain properties, such as description, of a contract that you've imported or deployed. Updated using the contracts ID as opposed to the on-chain address.
      operationId: updateContract
      parameters:
        - description: Contract id
          in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/scp-schemas_PatchContractRequest'
        description: Update contract properties request
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/scp-schemas_ContractResponse'
          description: OK
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
  /templates/{id}/deploy:
    post:
      tags:
        - Templates
      summary: Deploy a contract from a template
      description: Deploy a smart contract using a template.
      operationId: deployContractTemplate
      parameters:
        - description: Template id
          in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateContractDeploymentRequest'
        description: Deploy contract by template request
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateContractDeploymentResponse'
          description: Contract already created in previous request
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateContractDeploymentResponse'
          description: New contract deployed
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
  /templates/{id}/deploy/estimateFee:
    post:
      tags:
        - Templates
      summary: Estimate fee for a contract template deployment
      description: Estimate the fee required to deploy contract by template.
      operationId: estimateContractTemplateDeploy
      parameters:
        - description: Template id
          in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EstimateDeployContractByTemplateFeeRequest'
        description: Request object for estimating the transaction fees for deploying a contract from a template.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstimateDeployContractByTemplateFeeResponse'
          description: Response object with estimated transaction fee values.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
components:
  schemas:
    ContractDeploymentEstimateFeeRequest:
      type: object
      required:
        - bytecode
        - constructorParameters
      properties:
        blockchain:
          $ref: '#/components/schemas/commonBlockchain'
        bytecode:
          $ref: '#/components/schemas/Bytecode'
        constructorSignature:
          $ref: '#/components/schemas/ConstructorSignature'
        constructorParameters:
          $ref: '#/components/schemas/ConstructorParameters'
        sourceAddress:
          $ref: '#/components/schemas/SourceAddress'
        walletId:
          $ref: '#/components/schemas/WalletId'
    ContractDeploymentEstimateFeeResponse:
      type: object
      properties:
        high:
          $ref: '#/components/schemas/modelTransactionFee'
        low:
          $ref: '#/components/schemas/modelTransactionFee'
        medium:
          $ref: '#/components/schemas/modelTransactionFee'
    ContractDeploymentRequest:
      type: object
      required:
        - abiJson
        - bytecode
        - entitySecretCiphertext
        - idempotencyKey
        - name
        - constructorParameters
      properties:
        idempotencyKey:
          $ref: '#/components/schemas/schemas_IdempotencyKey'
        name:
          $ref: '#/components/schemas/ContractName'
        description:
          $ref: '#/components/schemas/ContractDescription'
        walletId:
          $ref: '#/components/schemas/WalletId'
        abiJson:
          $ref: '#/components/schemas/AbiJson'
        bytecode:
          $ref: '#/components/schemas/Bytecode'
        entitySecretCiphertext:
          $ref: '#/components/schemas/EntitySecretCiphertext'
        blockchain:
          $ref: '#/components/schemas/commonBlockchain'
        constructorParameters:
          $ref: '#/components/schemas/ConstructorParameters'
        feeLevel:
          $ref: '#/components/schemas/modelFeeLevel'
        gasLimit:
          type: string
          description: GasLimit is the limit on how much gas can be used in the transaction.
        gasPrice:
          type: string
          description: GasPrice is the price per unit of gas for the transaction.
        maxFee:
          type: string
          description: MaxFee is the total amount willing to be paid per unit of gas for your transaction.
        priorityFee:
          type: string
          description: |-
            PriorityFee is an additional fee per unit of gas to incentivise validators to complete your transaction.
            faster.
        refId:
          $ref: '#/components/schemas/RefId'
    ContractDeploymentResponse:
      type: object
      properties:
        contractId:
          type: string
          description: Unique identifier of the created smart contract.
          example: 676f83a8-81a1-4dd5-b738-e2509b8f5460
        transactionId:
          type: string
          description: Unique identifier of the pending deployment transaction.
          example: 36790743-b78d-4061-9558-1af9a9c837bd
    Contract:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/schemas_Id'
        deployerWalletID:
          type: string
          format: uuid
          description: The `id` of the Programmable Wallet that deployed this contract.
          example: f39e3dbd-84af-4d3d-b5ac-98fbe047ce6a
        deploymentTransactionId:
          type: string
          format: uuid
          description: The id of the deployment transaction for this contract.
          example: 00ca46f3-c31b-4e3a-92a9-068d4ff26a63
        implementationContractId:
          type: string
          format: uuid
          description: If this contract is a proxy, the contract ID of the implementation.
          example: f3d81192-1f5d-4d17-ae85-5801a15ea273
        txHash:
          type: string
          description: The string value of the transaction hash.
          example: '0x4a25cc5e661d8504b59c5f38ba93f010e8518966f00e2ceda7955c4b8621357d'
        abiJson:
          $ref: '#/components/schemas/AbiJson'
        archived:
          $ref: '#/components/schemas/Archived'
        blockchain:
          $ref: '#/components/schemas/schemas_Blockchain'
        bytecode:
          $ref: '#/components/schemas/Bytecode'
        contractAddress:
          type: string
          description: The on-chain address of this contract.
          example: '0x1e124d7384cd34448ea5907bd0052a79355ab5eb'
        contractInputType:
          $ref: '#/components/schemas/modelContractInputType'
        deployerAddress:
          type: string
          description: The address that created this contract, if deployed.
          example: '0x1bf9ad0cc2ad298c69a2995aa806ee832788218c'
        name:
          type: string
          description: The contract's name.
          example: First Contract
        description:
          $ref: '#/components/schemas/ContractDescription'
        status:
          $ref: '#/components/schemas/modelStatus'
        verificationStatus:
          $ref: '#/components/schemas/modelVerificationStatus'
        metadataLink:
          type: string
          description: The ipfs metadata link of the contract.
          example: https://ipfs.io/ipfs/Qme7ss3ARVgxv6rXqVPiikMJ8u2NLgmgszg13pYrDKEoiu
        updateDate:
          $ref: '#/components/schemas/UpdateDate'
        createDate:
          $ref: '#/components/schemas/schemas_CreateDate'
        sourceCode:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/modelSolFile'
        functions:
          type: array
          description: Functions supported by this contract. Parsed from abi_json.
          items:
            $ref: '#/components/schemas/modelFunction'
        events:
          type: array
          description: Events this contract can emit. Parsed from abi_json.
          items:
            $ref: '#/components/schemas/modelEvent'
    ContractResponse:
      type: object
      properties:
        contract:
          $ref: '#/components/schemas/Contract'
    ContractsResponse:
      type: object
      properties:
        contracts:
          type: array
          description: Contracts are all the contracts that match criteria.
          items:
            $ref: '#/components/schemas/Contract'
    ImportContractRequest:
      type: object
      required:
        - idempotencyKey
        - name
      properties:
        idempotencyKey:
          $ref: '#/components/schemas/schemas_IdempotencyKey'
        name:
          $ref: '#/components/schemas/ContractName'
        description:
          $ref: '#/components/schemas/ContractDescription'
        address:
          type: string
          description: Address is the address of the contract to be imported.
          example: '0x1e124d7384cd34448ea5907bd0052a79355ab5eb'
        blockchain:
          $ref: '#/components/schemas/commonBlockchain'
    PatchContractRequest:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/ContractName'
        description:
          $ref: '#/components/schemas/ContractDescription'
        archived:
          $ref: '#/components/schemas/Archived'
    ReadContractStateRequest:
      type: object
      required:
        - abiParameters
      properties:
        abiFunctionSignature:
          $ref: '#/components/schemas/AbiFunctionSignature'
        abiParameters:
          $ref: '#/components/schemas/AbiParameters'
    ReadContractStateResponse:
      type: object
      properties:
        outputValues:
          type: array
          description: OutputValues is the read ABI function response.
          items:
            $ref: '#/components/schemas/AnyValue'
    commonBlockchain:
      type: string
      description: Blockchain is the blockchain to deploy onto.
      enum:
        - ETH
        - ETH-GOERLI
        - AVAX
        - AVAX-FUJI
        - MATIC
        - MATIC-MUMBAI
      example: MATIC-MUMBAI
      properties:
        idempotencyKey:
          $ref: '#/components/schemas/schemas_IdempotencyKey'
        walletId:
          $ref: '#/components/schemas/WalletId'
        abiFunctionSignature:
          $ref: '#/components/schemas/AbiFunctionSignature'
        entitySecretCiphertext:
          $ref: '#/components/schemas/EntitySecretCiphertext'
        abiParameters:
          $ref: '#/components/schemas/AbiParameters'
        blockchain:
          $ref: '#/components/schemas/commonBlockchain'
        feeLevel:
          $ref: '#/components/schemas/modelFeeLevel'
        gasLimit:
          type: string
          description: GasLimit is the limit on how much gas can be used in the transaction.
        gasPrice:
          type: string
          description: GasPrice is the price of gas for the transaction.
        maxFee:
          type: string
          description: MaxFee is the total amount willing to be paid for your transaction.
        priorityFee:
          type: string
          description: PriorityFee is an additional fee to have your transaction completed faster.
        refId:
          $ref: '#/components/schemas/RefId'
    modelContractInputType:
      type: string
      enum:
        - IMPORT
        - BYTECODE
        - TEMPLATE
    modelEvent:
      type: object
      properties:
        name:
          type: string
          example: Approval
        type:
          type: string
          example: event
        anonymous:
          type: boolean
          example: false
        inputs:
          type: array
          items:
            $ref: '#/components/schemas/modelParamType'
    modelFeeLevel:
      type: string
      enum:
        - LOW
        - MEDIUM
        - HIGH
      description: FeeLevel is the fee level. LOW / MEDIUM / HIGH - Defines the blockchain fee level which will be paid for the transaction.  Optional, but if provided, all other 4 fee related fields (gasLimit, gasPrice, priorityFee and maxFee) should all be null
    modelFunction:
      type: object
      properties:
        name:
          type: string
          example: approve
        stateMutability:
          type: string
          example: nonpayable
        type:
          type: string
          example: function
        inputs:
          type: array
          items:
            $ref: '#/components/schemas/modelParamType'
        outputs:
          type: array
          items:
            $ref: '#/components/schemas/modelParamType'
    modelParamType:
      type: object
      properties:
        components:
          type: array
          items:
            $ref: '#/components/schemas/AnyValue'
        indexed:
          type: boolean
        name:
          type: string
          example: to
        type:
          type: string
          example: address
    modelSolFile:
      type: object
      description: Source code of a contract from Etherscan.
      required:
        - fileContent
      properties:
        fileName:
          type: string
          description: Name of the file.
          example: openzeppelin-solidity/contracts/math/SafeMath.sol
        fileContent:
          type: string
          description: Content of the file. If the contract's source code was flattened before verification, this may be the entire source code.
          example: |-
            pragma solidity ^0.4.24;

            /**
             * @title SafeMath
             * @dev Math operations with safety checks...
    modelStatus:
      type: string
      enum:
        - PENDING
        - FAILED
        - COMPLETE
    modelTransactionFee:
      type: object
      properties:
        baseFee:
          type: string
        gasLimit:
          type: string
        gasPrice:
          type: string
        maxFee:
          type: string
        priorityFee:
          type: string
    modelVerificationStatus:
      type: string
      enum:
        - UNVERIFIED
        - VERIFIED
    Bytecode:
      type: string
      description: Bytecode of the contract being deployed
      minLength: 1
      writeOnly: true
      example: 0x60806040523480156200001157600080fd5b50604051806040...
    ContractName:
      type: string
      description: The contract's name.
      example: First Contract
    ContractDescription:
      type: string
      description: The description for a contract.
      example: My first hello world contract
    AbiJson:
      type: string
      description: The contract's ABI in a JSON stringified format.
      example: "[\n\t{\n\t\t\"inputs\": [],\n\t\t\"stateMutability\": \"nonpayable\",\n\t\t\"type\": \"constructor\"\n\t},\n\t..."
    WalletId:
      type: string
      format: uuid
      description: Unique identifier of the wallet that will deploy the contract.
      example: 004735f6-d9fc-44f8-933c-672cdf3d240d
    SourceAddress:
      type: string
      description: The source address of the transaction.
      example: '0x1bf9ad0cc2ad298c69a2995aa806ee832788218c'
    ConstructorParameters:
      type: array
      description: A list of arguments to pass to the contract's constructor function. Must be an empty array if there are no constructor parameters.
      items:
        $ref: '#/components/schemas/AnyValue'
      example:
        - TICK
        - 10000
    ConstructorSignature:
      type: string
      description: Signature of the constructor if the contract has one. constructor() by default.
      maxLength: 1000
      minLength: 1
      example: constructor(string ticker, uint256 totalSupply)
    Archived:
      description: Archived is the updated archived setting of the contract. If true, the contract will not be visible in your dashboard.
      type: boolean
      example: false
    AnyValue:
      description: Can be any value - string, number, boolean, array or object.
    AbiFunctionSignature:
      type: string
      description: AbiFunctionSignature defines the name and parameter types of the ABI function.
      example: safeMint(address, uint256)
    AbiParameters:
      type: array
      description: AbiParameters is the values to pass to the ABI function.
      items:
        $ref: '#/components/schemas/AnyValue'
      example:
        - '0x6E5eAf34c73D1CD0be4e24f923b97CF38e10d1f3'
        - 1
    RefId:
      type: string
      description: RefID is a custom label field.
      example: d620d523-b5ab-4541-94b0-efe4f4c825c8
    IdempotencyKey:
      type: string
      description: IdempotencyKey is for idempotent retry on a POST request. To create a UUIDv4 go to [uuidgenerator.net](https://www.uuidgenerator.net).
      example: a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11
      format: uuid
    Error:
      type: object
      properties:
        code:
          type: integer
          description: Code is the error code
        message:
          type: string
          description: Message is the error message
    Id:
      type: string
      format: uuid
      description: Unique system generated identifier for the entity.
    Blockchain:
      type: string
      enum:
        - ETH-GOERLI
        - ETH
        - AVAX-FUJI
        - AVAX
        - MATIC-MUMBAI
        - MATIC
    UpdateDate:
      type: string
      format: date-time
      description: Last update date of the resource. ISO-8601 UTC date/time.
      example: '2023-01-01T12:04:05Z'
    CreateDate:
      type: string
      format: date-time
      description: Created date for the resource. ISO-8601 UTC date/time.
      example: '2023-01-01T12:04:05Z'
    Status:
      type: object
      properties:
        version:
          type: string
          example: '1.0'
        message:
          type: string
          example: Success
    TokenMonitorScope:
      type: string
      enum:
        - SELECTED
        - MONITOR_ALL
    schemas_Id:
      type: string
      format: uuid
      description: Unique system generated identifier of the resource.
      example: c4d1da72-111e-4d52-bdbf-2e74a2d803d5
    TokenStandard:
      type: string
      enum:
        - ERC20
        - ERC721
        - ERC1155
    schemas_Blockchain:
      type: string
      description: The blockchain network the resource will be created on or is currently on.
      enum:
        - ETH-GOERLI
        - ETH
        - AVAX-FUJI
        - AVAX
        - MATIC-MUMBAI
        - MATIC
      example: MATIC-MUMBAI
    schemas_CreateDate:
      type: string
      format: date-time
      description: Date and time the resource was created. ISO-8601 UTC date/time.
      example: '2023-01-01T12:04:05Z'
    TokenResponse:
      type: object
      required:
        - id
        - blockchain
        - isNative
        - createDate
        - updateDate
      properties:
        id:
          $ref: '#/components/schemas/schemas_Id'
        name:
          type: string
          description: Blockchain name of the specified token.
        standard:
          $ref: '#/components/schemas/TokenStandard'
        blockchain:
          $ref: '#/components/schemas/schemas_Blockchain'
        decimals:
          type: integer
          description: Number of decimal places shown in the token amount.
        isNative:
          type: boolean
          description: Defines if the token is a native token of the specified blockchain. If TRUE, the token is a native token.
        symbol:
          type: string
          description: Blockchain symbol of the specified token.
        tokenAddress:
          type: string
          description: Blockchain address of the specified token.
        updateDate:
          $ref: '#/components/schemas/UpdateDate'
        createDate:
          $ref: '#/components/schemas/schemas_CreateDate'
    GetMonitoredTokensResponse:
      type: object
      properties:
        scope:
          $ref: '#/components/schemas/TokenMonitorScope'
        tokens:
          type: array
          items:
            $ref: '#/components/schemas/TokenResponse'
          description: The list of tokens that are currently on the monitored tokens list. When fetching wallet balances, only these tokens will be shown by default.
    PutMonitoredTokensRequest:
      type: object
      properties:
        tokenIds:
          type: array
          items:
            format: uuid
            type: string
          description: The list of tokens that will be added to the monitored tokens list. When fetching wallet balances, these tokens will be shown by default.
          example:
            - a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11
    PutMonitoredTokensResponse:
      type: object
      properties:
        scope:
          $ref: '#/components/schemas/TokenMonitorScope'
        tokens:
          type: array
          items:
            $ref: '#/components/schemas/TokenResponse'
          description: The list of tokens that have been added to the monitored tokens list. When fetching wallet balances, these tokens will be shown by default.
    PostMonitoredTokensRequest:
      type: object
      required:
        - tokenIds
      properties:
        tokenIds:
          type: array
          items:
            format: uuid
            type: string
          description: The list of tokens to be added to the monitored tokens list. When fetching wallet balances, only these tokens will be shown by default.
          example:
            - a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11
          minItems: 1
    PostMonitoredTokensResponse:
      properties:
        scope:
          $ref: '#/components/schemas/TokenMonitorScope'
        tokens:
          type: array
          items:
            $ref: '#/components/schemas/TokenResponse'
          description: The list of tokens that have been added to the monitored tokens list. When fetching wallet balances, only these tokens will be shown by default.
      type: object
    PutMonitoredTokensScopeRequest:
      type: object
      required:
        - scope
      properties:
        scope:
          $ref: '#/components/schemas/TokenMonitorScope'
    DeleteMonitoredTokensRequest:
      properties:
        tokenIds:
          type: array
          items:
            type: string
            format: uuid
          description: Token ids to be removed from the monitored tokens list. Once removed, these tokens will no longer be shown by default when fetching wallet balances.
          example:
            - a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11
          minItems: 1
      required:
        - tokenIds
      type: object
    GetPublicKeyResponse:
      type: object
      properties:
        publicKey:
          type: string
    GetEntityConfigResponse:
      type: object
      properties:
        appId:
          example: 78fb905b-12c2-45aa-8fc4-c60261c9e9ee
          format: uuid
          type: string
    schemas_IdempotencyKey:
      type: string
      description: Universally unique identifier (UUID v4) idempotency key. This key is utilized to ensure exactly-once execution of mutating requests. To create a UUIDv4 go to [uuidgenerator.net](https://www.uuidgenerator.net).
      example: a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11
      format: uuid
    EntitySecretCiphertext:
      type: string
      description: |
        A base64 string expression of the entity secret ciphertext. The entity secret should be encrypted by the entity public key. Circle mandates that the entity secret ciphertext is unique for each API request.
      format: byte
      example: 0NtD3d3+nmgb4GqYQXzAjKF8h5Zq6sHM2k/7UQz5OIXWnU7H8O9XvVYXqDnw1wEmY...
    CreateDeveloperWalletSetRequest:
      type: object
      required:
        - entitySecretCiphertext
        - idempotencyKey
      properties:
        idempotencyKey:
          $ref: '#/components/schemas/schemas_IdempotencyKey'
        entitySecretCiphertext:
          $ref: '#/components/schemas/EntitySecretCiphertext'
        name:
          type: string
          example: treasury wallet set 1
    CustodyType:
      type: string
      enum:
        - DEVELOPER
        - ENDUSER
    ExternalUserId:
      type: string
      description: Unique system generated identifier for the user.
      example: ext_user_id_1
      maxLength: 50
      minLength: 5
    WalletSetResponse:
      type: object
      required:
        - id
        - custodyType
        - updateDate
        - createDate
      properties:
        id:
          $ref: '#/components/schemas/schemas_Id'
        createDate:
          $ref: '#/components/schemas/schemas_CreateDate'
        custodyType:
          $ref: '#/components/schemas/CustodyType'
        name:
          type: string
          description: Name or description of the wallet set.
          example: treasury wallet set 1
        updateDate:
          type: string
          format: date-time
          description: Last update date of the wallet set. ISO-8601 UTC date/time.
          example: '2023-01-01T12:04:05Z'
        userId:
          $ref: '#/components/schemas/ExternalUserId'
    CreateDeveloperWalletSetResponse:
      type: object
      properties:
        walletSet:
          $ref: '#/components/schemas/WalletSetResponse'
    UpdateWalletSetMetadataRequest:
      type: object
      properties:
        name:
          type: string
          example: My updated wallet set name
          minLength: 1
    UpdateWalletSetMetadataResponse:
      type: object
      properties:
        walletSet:
          $ref: '#/components/schemas/WalletSetResponse'
    GetWalletSetsResponse:
      type: object
      properties:
        walletSets:
          type: array
          items:
            $ref: '#/components/schemas/WalletSetResponse'
    GetWalletSetByIDResponse:
      type: object
      properties:
        walletSet:
          $ref: '#/components/schemas/WalletSetResponse'
    AccountType:
      type: string
      description: |
        An Account can be a Smart Contract Account (SCA) or an Externally Owned Account (EOA). To learn more about account types and the differences between the two, see the [account types guide](https://developers.circle.com/w3s/docs/programmable-wallets-account-types).

        If an account type is not specified during the creation of a wallet, it will default to `EOA` (Externally Owned Account).
      enum:
        - SCA
        - EOA
    TransactionReferenceId:
      type: string
      example: grouptransaction123
      description: Optional reference or description used to identify the transaction.
    WalletMetadata:
      type: object
      properties:
        name:
          type: string
          description: Name or description associated with the wallet.
          example: My Wallet 1
        refId:
          $ref: '#/components/schemas/TransactionReferenceId'
    WalletSetId:
      type: string
      description: Unique system generated identifier of the wallet's parent wallet set. under.
      example: 71f2a6b4-ffa7-417a-ad5b-fb928753edc8
    CreateDeveloperWalletRequest:
      type: object
      required:
        - blockchains
        - entitySecretCiphertext
        - walletSetId
        - idempotencyKey
      properties:
        idempotencyKey:
          $ref: '#/components/schemas/schemas_IdempotencyKey'
        accountType:
          $ref: '#/components/schemas/AccountType'
        blockchains:
          type: array
          items:
            $ref: '#/components/schemas/schemas_Blockchain'
          description: Blockchain(s) the requested wallets will be created on.
        count:
          type: integer
          description: Number of wallets that will be created per specified blockchain.
          example: 2
          maximum: 20
          minimum: 1
        entitySecretCiphertext:
          $ref: '#/components/schemas/EntitySecretCiphertext'
        metadata:
          type: array
          items:
            $ref: '#/components/schemas/WalletMetadata'
          description: List of metadata fields to associate with the corresponding wallet. If count is specified, the amount of items in the array should match the count field.
        walletSetId:
          $ref: '#/components/schemas/WalletSetId'
    BlockchainAddress:
      description: The blockchain address generated upon wallet creation.
      type: string
    WalletReferenceId:
      type: string
      description: Optional reference or description used to identify the wallet.
      example: wallet123
    WalletState:
      type: string
      enum:
        - LIVE
        - FROZEN
      example: LIVE
    WalletResponse:
      type: object
      required:
        - id
        - state
        - walletSetId
        - custodyType
        - address
        - blockchain
        - createDate
        - updateDate
      properties:
        id:
          $ref: '#/components/schemas/schemas_Id'
        address:
          $ref: '#/components/schemas/BlockchainAddress'
        blockchain:
          $ref: '#/components/schemas/schemas_Blockchain'
        createDate:
          $ref: '#/components/schemas/schemas_CreateDate'
        custodyType:
          $ref: '#/components/schemas/CustodyType'
        accountType:
          $ref: '#/components/schemas/AccountType'
        name:
          type: string
          description: Name or description associated with the wallet.
          example: My walletResponse
        refId:
          $ref: '#/components/schemas/WalletReferenceId'
        state:
          $ref: '#/components/schemas/WalletState'
        updateDate:
          $ref: '#/components/schemas/UpdateDate'
        userId:
          $ref: '#/components/schemas/ExternalUserId'
        walletSetId:
          $ref: '#/components/schemas/WalletSetId'
    CreateDeveloperWalletResponse:
      type: object
      properties:
        wallets:
          type: array
          items:
            $ref: '#/components/schemas/WalletResponse'
          description: Lists the details for the created wallets.
    ExtGetAllWalletsResponse:
      type: object
      properties:
        wallets:
          type: array
          items:
            $ref: '#/components/schemas/WalletResponse'
    ExtGetWalletByIDResponse:
      type: object
      properties:
        wallet:
          $ref: '#/components/schemas/WalletResponse'
    ExtUpdateWalletMetadataRequest:
      type: object
      properties:
        name:
          type: string
        refId:
          $ref: '#/components/schemas/WalletReferenceId'
    ExtWalletResponse:
      type: object
      properties:
        wallet:
          type: object
          properties:
            id:
              $ref: '#/components/schemas/schemas_Id'
            address:
              $ref: '#/components/schemas/BlockchainAddress'
            blockchain:
              $ref: '#/components/schemas/schemas_Blockchain'
            createDate:
              $ref: '#/components/schemas/schemas_CreateDate'
            custodyType:
              $ref: '#/components/schemas/CustodyType'
            accountType:
              $ref: '#/components/schemas/AccountType'
            name:
              type: string
              description: Name or description associated with the wallet.
              example: My ExtWalletResponse
            refId:
              $ref: '#/components/schemas/WalletReferenceId'
            state:
              $ref: '#/components/schemas/WalletState'
            updateDate:
              $ref: '#/components/schemas/UpdateDate'
            userId:
              $ref: '#/components/schemas/ExternalUserId'
            walletSetId:
              $ref: '#/components/schemas/WalletSetId'
    Balance:
      type: object
      required:
        - token
        - updateDate
        - amount
      properties:
        amount:
          type: string
          description: List of token balances for each token on the wallet(s).
          example: '6.62607015'
        token:
          $ref: '#/components/schemas/TokenResponse'
        updateDate:
          $ref: '#/components/schemas/UpdateDate'
    GetBalancesResponse:
      type: object
      properties:
        tokenBalances:
          description: List of token balances for each token on the wallet(s).
          type: array
          items:
            $ref: '#/components/schemas/Balance'
    Nft:
      type: object
      required:
        - nftTokenId
        - token
        - amount
        - updateDate
      properties:
        amount:
          type: string
          description: Amount of NFTs on a wallet. For non-fungible token standards, like ERC721, amount will always be “1”; for semi-fungible token standards like ERC1155, amount will correspond to the number of tokens.
          example: '1'
        metadata:
          type: string
          description: The metadata of the NFT.
          example: ipfs://QmZcH4YvBVVRJtdn4RdbaqgspFU8gH6P9vomDpBVpAL3u4/1
        nftTokenId:
          type: string
          description: The NFT token ID.
          example: '2'
        token:
          $ref: '#/components/schemas/TokenResponse'
        updateDate:
          $ref: '#/components/schemas/UpdateDate'
    GetNftsResponse:
      type: object
      properties:
        nfts:
          type: array
          items:
            $ref: '#/components/schemas/Nft'
    TransferAmounts:
      type: array
      items:
        type: string
      description: Transfer amount in decimal number format.
      example:
        - '6.62607015'
      minItems: 1
    DestinationAddress:
      type: string
      description: The destination blockchain address for the transaction.
    FeeLevel:
      type: string
      enum:
        - LOW
        - MEDIUM
        - HIGH
      example: MEDIUM
      description: |
        A dynamic blockchain fee level setting (`LOW`, `MEDIUM`, or `HIGH`) that will be used to pay gas for the transaction. Calculated based on network traffic, supply of validators, and demand for transaction verification. Cannot be used with `gasLimit`, `gasPrice`, `baseFee`, `priorityFee`, or `maxFee`.
        Estimates for each fee level can be obtained through the Estimate fee API call.
    GasLimit:
      type: string
      description: |
        The maximum units of gas to be used for the transaction. Required if `feeLevel` is not provided.
        Estimates for this limit can be obtained through the estimate fee API call.
      example: '21000'
    GasPrice:
      type: string
      description: |
        For blockchains with EIP-1559 support, the maximum price of gas, in gwei, to be used per each unit of gas (see `gasLimit`). Requires `gasLimit`. Cannot be used with `feeLevel`, `baseFee`, `priorityFee`, or `maxFee`.
        Estimates for this fee can be obtained through the estimate fee API call.
    MaxFee:
      type: string
      example: '5.935224468'
      description: |
        The maximum price per unit of gas (see `gasLimit`), in gwei. Requires `baseFee`, `priorityFee`, and `gasLimit` to be present. Cannot be used with `feeLevel` or `gasPrice`.
        Estimates for this fee can be obtained through the estimate fee API call.
    PriorityFee:
      type: string
      example: '1.022783914'
      description: |
        The “tip”, in gwei, to be added to the baseFee as an incentive for validators. Requires `baseFee`, `maxFee`, and `gasLimit` to be present. Cannot be used with `feeLevel` or `gasPrice`.
        Estimates for this fee can be obtained through the estimate fee API call.
    schemas_WalletId:
      type: string
      format: uuid
[...]
